* {
    box-sizing: border-box;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/cocomat/cocomat_light-trial-webfont.woff);
}

body {
	margin: 1rem;
	font-size: 1rem;
	font-family: myFont;
}

a {
	text-decoration: none;
}

.btn-text {
	color: white;
}

.paragraph {
	font-family: myFont;
}

.bullet-list, .numbered-list, .grid-blocks, #heading1, #heading2, #heading3, .heading-sample {
	font-family: Arial, Helvetica, sans-serif;
}

.in-text-link:link {
    color: black;
}

.in-text-link:visited {
    color: #b6b680;
}

.in-text-link:hover {
    color: #888860;
}

.container {
/*	display: flex;
	align-items: center;
	justify-content: center;*/
}

.subtitle, h2, .logo {
	text-align: center;
}

.logo {
	font-size: 2.5rem;
}

.subtitle {
	font-size: 2rem;
}

.menu, #submenu {
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav-btn {
  /*text-decoration: none;*/
  display: inline-block;
  border-radius: 4px;
  background-color: #E4E4A1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 20px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1rem;
}

.nav-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.nav-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.nav-btn:hover span {
  padding-right: 25px;
}

.nav-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.form-btn {
    background-color: #E4E4A1;
    color: black;
    border: 2px solid #E4E4A1;
}

.form-btn:hover {background-color: white;}

.menu-button {
	margin: 0.5rem;
	font-size: 1px;
	padding: 10px;
	width: 120px;
}

.text-input {
	border: 2px solid #E4E4A1;
}

#heading1 {
	font-size: 2.5rem;
}

#heading2 {
	font-size: 2rem;
}

#heading3 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.5rem;
}

#tips {
	text-align: center;
}

.links {
	font-family: Arial, Helvetica, sans-serif;
}

section {
  margin: 1em 2em;
  padding: 0.5em 0;
  border-top: 2px solid #cdcd90;
}

.block {
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	justify-content: center;
}

section code {
  background-color: #f1f1d0;
  padding: 0.5em 0.75em;
}

.box {
	margin: 0 1em
}

.box1 {
	/*flex: 1;*/
	width: 240px;
}

.box2 {
	/*flex: 3;*/
	width: 240px;
}

.box3 {
	/*flex: 3;*/
	width: 240px;
}

.grid-blocks {
	background-color: #e4e4a1;
	margin: 0.5rem;
	width: 12rem;
	text-align: center;
	/*min-width: 50px;*/
	/*flex: 1 1 auto;*/
}

.color-blocks {
	width: 100px;
	height: 100px;
}

.c1 {
	background-color: #161610;
}

.c2 {
	background-color: #5b5b40;
}

.c3 {
	background-color: #9f9f70;
}

.c4 {
	background-color: #e4e4a1;
}

.c5 {
	background-color: #e9e9b3;
}

.c6 {
	background-color: #f1f1d0;
}

.c7 {
	background-color: #f9f9ec;
}

/*p.grid-blocks {
	padding: 20rem, 0;
}*/


@media (max-width: 30rem) {

/*	#page-title {
    	font-size: 20px;
    }*/

	.box {
		flex: 0 0 100%;
	}

	.grid-blocks {
		flex: 0 0 60%;
	}
}