<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
	<div class="page-header">
		<a href="index.html"><img class="brandlogo" src="img/placeholder.png" alt="can't load img" width="" height=""></a>
		<input class="side-search" type="text" placeholder="Search In Site" name="searchInSite">
		<ul class="sidebars">
			<li><a class="side-button" href="cart.html">Shopping Cart</a></li>
			<li><a class="side-button" href="login.html">My Account</a></li>
			<li><a class="side-button" href="about.html">About</a></li>			
			
		</ul>
	</div>	
		<nav class="catalog">
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>GENRENS & STYLES </span></button>
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>BRAND LABELS </span></button>
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>RARE COLLECTIONS </span></button>

		</nav>
	</header>

	<div class="container">

		<br>
		<section id="intro-container">
			<h2 class="subtitles">About Us</h2>
			<div class="intro-text">
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ullamcorper quam purus, luctus sagittis justo feugiat vel. Fusce interdum nisl arcu, in imperdiet velit fringilla nec. Nunc lacinia diam non diam condimentum rhoncus. Morbi magna tellus, dapibus sit amet lorem ac, aliquam finibus sem. Praesent semper, nulla et rhoncus mattis, lacus est tincidunt nisl, a imperdiet dolor tortor eget elit. Ut vulputate eleifend arcu vel pharetra. Integer non elit risus.</p>

				<p>Suspendisse et ante ante. Aliquam at vestibulum odio. Duis in dictum est. Ut ullamcorper nunc in mollis pulvinar. Nunc dui lorem, euismod vitae arcu vitae, maximus dapibus eros. Integer dapibus mollis nulla, sit amet varius ligula faucibus non. Etiam dignissim, mauris vitae iaculis iaculis, orci orci tincidunt ex, nec porttitor tortor nisl vitae risus. Proin sed elit erat. Aliquam feugiat ultricies arcu nec fermentum. In tortor sem, ullamcorper vel sapien sed, molestie posuere mauris. Nam laoreet ut ex ac iaculis. Fusce et eros pulvinar, mollis sapien non, vestibulum ante. Curabitur vitae ante felis.</p>
				
				<p>Maecenas auctor consequat metus, elementum viverra sapien. Quisque ac pellentesque tellus, vitae maximus mauris. Praesent viverra diam at neque faucibus, eu dignissim orci egestas. Nam ultrices neque non lacus aliquet tristique. Fusce tempus nunc nec sem hendrerit bibendum ac eget risus. Mauris in facilisis odio, nec eleifend ante. Integer in molestie dui, id luctus orci. Cras molestie, augue vel pulvinar porttitor, dui dolor commodo nibh, feugiat aliquam enim nunc sit amet tellus. Nullam at rhoncus elit. Sed vel volutpat nibh. Sed blandit nulla non erat maximus scelerisque. Duis vel ornare mi. Sed vel massa a ex suscipit fermentum. Sed blandit lectus dui, ut dignissim leo porta eget. Sed mollis dictum tellus, sed auctor turpis ornare vitae.</p>
			</div>
		</section>
		
		<section id="subscribes">
			<h1 class="subscribesTitles">GET OUR NEWEST RECORDS UPDATES</h1>
			<h2 class="subtitles sm">sign up for newsletters</h2>
			<input class="text-input subscribes-input" type="text" placeholder="Your Email Address" name="yourEmailAddress">
			<button href="#" class="form-btn subscribes-btn">SUBSCRIBE</button>
		</section>

	</div>

	<footer>
		<div id="footer">
			<h1 class="footerTitle">Follow us on</h1>
			<div class="footerIconsContainer">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
			</div>
			<h3 class="footerText">Operation hours: Mon to Fri (9am to 6pm)</h3>
			<h2 class="footerText">(778)123-4567</h2>
			<h3 class="footerText">or email us</h3>
			<h2 class="footerText">vinylbeatsrecords@sfu.ca</h2>
			<br>
			<h3 class="footerText">250 - 13450 – 102nd Avenue, Surrey, BC V3T 0A3</h3>

			<nav class="footerNav">
				<a class="side-button footerNavItem" href="about.html">About</a>
				<a class="side-button footerNavItem" href="events.html">Events</a>
				<a class="side-button footerNavItem" href="#subscribes">Subscribe</a>
				<a class="side-button footerNavItem" href="#footer">Contact</a>
			</nav>

			<div class="copyrights">
				<h3 class="copyrightsText">Copyright © Group Group Design All Right Reserved</h3>
			</div>
		</div>
	</footer>
	
</body>
</html>
<!-- 
Reference:
w3school.com

image placeholder:
http://mpcoleman.co.uk/?attachment_id=5
 -->