<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Category - Rock</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header class="header">
	<div class="page-header">
		<a href="index.html"><img class="brandlogo" src="img/placeholder.png" alt="can't load img" width="" height=""></a>
		<input class="side-search" type="text" placeholder="Search In Site" name="searchInSite">
		<ul class="sidebars">
			<li><a class="side-button" href="cart.html">Shopping Cart</a></li>
			<li><a class="side-button" href="login.html">My Account</a></li>
			<li><a class="side-button" href="about.html">About</a></li>			
			
		</ul>
	</div>	
		<nav class="catalog">
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>GENRENS & STYLES </span></button>
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>BRAND LABELS </span></button>
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>RARE COLLECTIONS </span></button>

		</nav>
	</header>

	<div class="container">
		
		<h1 class="category-title">Rock</h1>

		<div class="productsList">
			
			<div class="items">
				<h3 class="item-titles">Item Title</h3>
				<img class="item-imgs" src="img/placeholder.png" alt="cant load img">
				<div class="item-briefs">
					<h3 class="prices">$35</h3>
					<button class="form-btn add-cart-btn">Buy</button>
				</div>
			</div>

			<div class="items">
				<h3 class="item-titles">Item Title</h3>
				<img class="item-imgs" src="img/placeholder.png" alt="cant load img">
				<div class="item-briefs">
					<h3 class="prices">$35</h3>
					<button class="form-btn add-cart-btn">Buy</button>
				</div>
			</div>

			<div class="items">
				<h3 class="item-titles">Item Title</h3>
				<img class="item-imgs" src="img/placeholder.png" alt="cant load img">
				<div class="item-briefs">
					<h3 class="prices">$35</h3>
					<button class="form-btn add-cart-btn">Buy</button>
				</div>
			</div>

			<div class="items">
				<h3 class="item-titles">Item Title</h3>
				<img class="item-imgs" src="img/placeholder.png" alt="cant load img">
				<div class="item-briefs">
					<h3 class="prices">$35</h3>
					<button class="form-btn add-cart-btn">Buy</button>
				</div>
			</div>

			<div class="items">
				<h3 class="item-titles">Item Title</h3>
				<img class="item-imgs" src="img/placeholder.png" alt="cant load img">
				<div class="item-briefs">
					<h3 class="prices">$35</h3>
					<button class="form-btn add-cart-btn">Buy</button>
				</div>
			</div>

			<div class="items">
				<h3 class="item-titles">Item Title</h3>
				<img class="item-imgs" src="img/placeholder.png" alt="cant load img">
				<div class="item-briefs">
					<h3 class="prices">$35</h3>
					<button class="form-btn add-cart-btn">Buy</button>
				</div>
			</div>
			
		</div>

	</div>

	<footer>
		<div id="footer">
			<h1 class="footerTitle">Follow us on</h1>
			<div class="footerIconsContainer">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
			</div>
			<h3 class="footerText">Call us by Mon to Fri (9am to 6pm)</h3>
			<h2 class="footerText">(778)123-4567</h2>
			<h3 class="footerText">or emil us</h3>
			<h2 class="footerText">vinylbeatsrecords@sfu.ca</h2>
			<br>
			<h3 class="footerText">250 - 13450 – 102nd Avenue, Surrey, BC V3T 0A3</h3>

			<nav class="footerNav">
				<a class="side-button footerNavItem" href="about.html">About</a>
				<a class="side-button footerNavItem" href="events.html">Events</a>
				<a class="side-button footerNavItem" href="#subscribes">Subscribe</a>
				<a class="side-button footerNavItem" href="#footer">Contact</a>
			</nav>

			<div class="copyrights">
				<h3 class="copyrightsText">Copyright © Group Group Design All Right Reserved</h3>
			</div>
		</div>
	</footer>
	
</body>
</html>
<!-- 
Reference:
w3school.com

image placeholder:
http://mpcoleman.co.uk/?attachment_id=5
 -->