<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<header class="header">
	<div class="page-header">
		<img class="brandlogo" src="img/placeholder.png" alt="can't load img" width="" height="">
		<input class="side-search" type="text" placeholder="Search In Site" name="searchInSite">
		<ul class="sidebars">
			<li><a class="side-button" href="#Cart">Shopping Cart</a></li>
			<li><a class="side-button" href="#Account">My Account</a></li>
			<li><a class="side-button" href="#About">About</a></li>			
			
		</ul>
	</div>	
		<nav class="catalog">
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>GENRENS & STYLES </span></button>
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>BRAND LABELS </span></button>
			<button onclick="location.href='category_rock.html';" class="nav-btn render-menu" style="vertical-align:middle"><span>RARE COLLECTIONS </span></button>

		</nav>
	</header>

	<div class="container">
		<div class="homepageSlidesContainer">
			<img class="homepageSlides" src="img/placeholder.png" alt="cant load img">
		</div>

		<section id="newProducts">
			<h2 class="subtitles">New Products</h2>
			<div class="newProductsContainer">
				<div class="BX 1of4">
					<img class="newProductsImgs" src="img/placeholder.png" alt="cant load img">
					<h3 class="newProductsTitle">Item 1</h3>
					<p class="newProductsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non tincidunt purus. Nunc non efficitur nunc. Suspendisse potenti. Pellentesque aliquam scelerisque congue.</p>
				</div>
				<div class="BX 1of4">
					<img class="newProductsImgs" src="img/placeholder.png" alt="cant load img">
					<h3 class="newProductsTitle">Item 2</h3>
					<p class="newProductsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non tincidunt purus. Nunc non efficitur nunc. Suspendisse potenti. Pellentesque aliquam scelerisque congue.</p>
				</div>
				<div class="BX 1of4">
					<img class="newProductsImgs" src="img/placeholder.png" alt="cant load img">
					<h3 class="newProductsTitle">Item 3</h3>
					<p class="newProductsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non tincidunt purus. Nunc non efficitur nunc. Suspendisse potenti. Pellentesque aliquam scelerisque congue.</p>
				</div>
				<div class="BX 1of4">
					<img class="newProductsImgs" src="img/placeholder.png" alt="cant load img">
					<h3 class="newProductsTitle">Item 4</h3>
					<p class="newProductsText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non tincidunt purus. Nunc non efficitur nunc. Suspendisse potenti. Pellentesque aliquam scelerisque congue.</p>
				</div>
			</div>
		</section>

		<section id="events">
			<h2 class="subtitles">Events</h2>
			<div class="eventsSlidesContainer">
				<img id="eventsSlides1" src="img/placeholder.png" alt="cant load img">
				<img id="eventsSlides2" src="img/placeholder.png" alt="cant load img">
				<img id="eventsSlides3" src="img/placeholder.png" alt="cant load img">
			</div>
		</section>

		<section id="subscribes">
			<h1 class="subscribesTitles">GET OUR NEWEST RECORDS UPDATES</h1>
			<h2 class="subtitles sm">sign up for newsletters</h2>
			<input class="text-input subscribes-input" type="text" placeholder="Your Email Address" name="yourEmailAddress">
			<button href="#" class="form-btn subscribes-btn">SUBSCRIBE</button>
		</section>

	</div>

	<footer>
		<div id="footer">
			<h1 class="footerTitle">Follow us on</h1>
			<div class="footerIconsContainer">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
				<img class="footerIcons" src="img/placeholder.png" alt="cant load img">
			</div>
			<h3 class="footerText">Operation hours: Mon to Fri (9am to 6pm)</h3>
			<h2 class="footerText">(778)123-4567</h2>
			<h3 class="footerText">or email us</h3>
			<h2 class="footerText">vinylbeatsrecords@sfu.ca</h2>
			<br>
			<h3 class="footerText">250 - 13450 – 102nd Avenue, Surrey, BC V3T 0A3</h3>

			<nav class="footerNav">
				<a class="side-button footerNavItem" href="about.html">About</a>
				<a class="side-button footerNavItem" href="events.html">Events</a>
				<a class="side-button footerNavItem" href="#subscribes">Subscribe</a>
				<a class="side-button footerNavItem" href="#footer">Contact</a>
			</nav>

			<div class="copyrights">
				<h3 class="copyrightsText">Copyright © Group Group Design All Right Reserved</h3>
			</div>
		</div>
	</footer>


	
</body>
</html>