<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
</head>
<body>
	<header>
		<img class="logo" src="" alt="can't load img" width="" height="">
		<div class="sideNav">
			<a class="in-text-link" href="account.html">My Account</a>
			<a class="in-text-link" href="cart.html">Shopping Cart</a>
		</div>
		<nav>
			<button href="#" class="nav-btn render-menu" style="vertical-align:middle"><span>GENRENS & STYLES </span></button>
			<button href="#" class="nav-btn render-menu" style="vertical-align:middle"><span>LABELS </span></button>
			<button href="#" class="nav-btn render-menu" style="vertical-align:middle"><span>RARE COLLECTIONS </span></button>
			<input class="text-input" type="text" placeholder="Search In Site" name="searchInSite">
		</nav>
	</header>
	
</body>
</html>