<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" href="css/main.css">

</head>
<body>
	<header class="header">
	<div class="page-header">
		<ul class="sidebars">
			<li><img class="logo" src="img/placeholder.png" alt="can't load img" width="" height=""></li>
			<li><a class="side-button" href="#About">About</a></li>			
			<li><a class="side-button" href="#Account">My Account</a></li>
			<li><a class="side-button" href="#Cart">Shopping Cart</a></li>
			<li><input class="side-search" type="text" placeholder="Search In Site" name="searchInSite"></li>
		</ul>
	</div>	
		<nav class="catalog">
			<button href="#" class="nav-btn render-menu" style="vertical-align:middle"><span>GENRENS & STYLES </span></button>
			<button href="#" class="nav-btn render-menu" style="vertical-align:middle"><span>LABELS </span></button>
			<button href="#" class="nav-btn render-menu" style="vertical-align:middle"><span>RARE COLLECTIONS </span></button>

		</nav>
	</header>
	
</body>
</html>