* {
  box-sizing: border-box;
}

.page-header{
  display: block;
}
.brandlogo {
  display: inline-block;
  float: left;
  width: 10rem;
  height: 3rem;
}

.side-search{
  display: inline-block;
  float: left;
  margin-left: 4rem;
  margin-top: 1rem;
  border: none;
  border-bottom: 0.1rem solid #E4E4A1;
  font-size: 1rem;
}

ul.sidebars{
  float: right;
  margin-bottom: 0;

}

ul.sidebars li {
  float:right;
  display: inline;
  padding-left: 1rem;
}

ul.sidebars li a{
  display: block;
  padding-right: 1rem;
}







.header{
  font-size: 1rem;
}

.side-button:link {
  color: #888860; /*darker colour*/
}

.side-button:visited {
  color: #888860; 
}

.side-button:hover {
  color: #b6b680; /*lighter colour*/
}


.catalog{
  display: block;
  width: 100%;
  text-align: center;
}

@font-face {
    font-family: myFont;
    src: url(../../fonts/cocomat/cocomat_light-trial-webfont.woff);
}

body {
	margin: 1rem;
	font-size: 1rem;
	font-family: myFont;
}

a {
	text-decoration: none;
}

.homepageSlidesContainer {
  margin-left: 0;
}

.homepageSlides {
  margin: 0;
  width: 100%;
  height: 400px;
  z-index: 0;
}

.newProductsContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.newProductsTitle, .newProductsText, .footerText, .subscribesTitles {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.newProductsTitle {
  font-family: Arial, Helvetica, sans-serif;
}

.sm {
  font-size: 20px;
}

.newProductsImgs {
  display: block;
  margin: auto;
  width: 80%;
  height: 200px;
/*  align-items: center;
  justify-content: center;*/
}

.eventsSlidesContainer {
  display: flex;
  margin-top: 50px;
}

#eventsSlides1 {
  flex: 1;
  min-width: 50px;
  height: 300px;
  padding: 20px;
}

#eventsSlides2 {
  flex: 4;
  min-width: 200px;
  height: 300px;
  padding: 20px;
}

#eventsSlides3 {
  flex: 1;
  min-width: 50px;
  height: 300px;
  padding: 20px;
}

.BX {
  flex: 1;
}

.btn-text {
	color: white;
}

.paragraph {
	font-family: myFont;
}

.bullet-list, .numbered-list, .grid-blocks, #heading1, #heading2, #heading3, .heading-sample {
	font-family: myFont;
}

.in-text-link:link {
  color: #888860; /*darker colour*/
}

.in-text-link:visited {
  color: #888860; 
}

.in-text-link:hover {
  color: #b6b680; /*lighter colour*/
}

.container {
/*	display: flex;
	align-items: center;
	justify-content: center;*/
}

.subtitles, h2, .logo {
	text-align: center;
}

.logo {
	font-size: 2.5rem;
}

.subtitle {
	font-size: 2rem;
}

.menu, #submenu {
	display: flex;
	align-items: center;
	justify-content: center;
}
.catalog{
  display: block;
  float: left;
}
.nav-btn {
  /*text-decoration: none;*/
  display: inline-block;
  border-radius: .1rem;
  background-color: #E4E4A1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  width: 9rem;
  cursor: pointer;
  margin: 0.5rem;
}

.render-menu {
	width: 13rem;
}

.nav-btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition:  0.5s;
}

.nav-btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -1rem;
  transition: 0.5s;
}

.nav-btn:hover span {
  padding-right: 1rem;
}

.nav-btn:hover span:after {
  opacity: 1;
  right: 0;
}

.form-btn {
  background-color: #E4E4A1;
  color: white;
  border: .1rem solid #E4E4A1;
  font-size: 0.875rem;

}

.form-btn:hover {
	background-color: white;
	color: #999999;

}

.menu-button {
  display: inline-block;
  border-radius: .1rem;
  background-color: #E4E4A1;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 1rem;
  padding: 1rem;
  width: 9rem;
  cursor: pointer;
  margin: 1rem;
}

.text-input {
	padding-top: 1rem;
    padding-bottom: 0.1rem;
    display: block;
    border: none;
    border-bottom: 0.1rem solid #E4E4A1;
    font-size: 1rem;
    width: auto;
}

.subscribes-input {
  width: 400px;
  padding: 0.5rem;
  margin: 0 auto;
  margin-top: 30px;
  border: 0.1rem solid #E4E4A1;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.subscribes-btn {
  display: block;
  margin: 1rem auto;
  width: 180px;
  height: 40px;
  padding: 0.2rem;
}

.footer {
  background-color: lightgrey;
}

.footerTitle {
  text-align: center;
  padding-top: 50px;
  font-size: 30px;
}

.footerText {
  font-family: Arial, Helvetica, sans-serif;
}

.footerIconsContainer {
  display: flex;
  margin: 0 auto;
  width: 30%;
  margin-bottom: 50px;
}

.footerIcons {
  min-width: 50px;
  height: 50px;
  flex: 1;
  padding: 0 15px;
}

.footerNav {
  margin-top: 20px;
  text-align: center;
}

.copyrights {
  /*background-color: grey*/
}

.copyrightsText {
  margin: 2rem auto;
  font-size: 10px;
  text-align: center;
}

#heading1 {
	font-size: 2.5rem;
}

#heading2 {
	font-size: 2rem;
}

#heading3 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.5rem;
}

#tips {
	text-align: center;
}

.links {
	font-family: myFont;
}

section {
  margin: 1em 2em;
  padding: 0.5em 0;
  border-top: 2px solid #cdcd90;
}

.block {
	display: flex;
	flex-wrap: wrap;
	/*align-items: center;*/
	justify-content: center;
}

section code {
  background-color: #f1f1d0;
  padding: 0.5em 0.75em;
}

.box {
	margin: 0 1em
}

.box1 {
	/*flex: 1;*/
	width: 240px;
}

.box2 {
	/*flex: 3;*/
	width: 240px;
}

.box3 {
	/*flex: 3;*/
	width: 240px;
}

.grid-blocks {
	background-color: #e4e4a1;
	margin: 0.5rem;
	width: 12rem;
	text-align: center;
	/*min-width: 50px;*/
	/*flex: 1 1 auto;*/
}

.color-blocks {
	width: 100px;
	height: 100px;
}

.c1 {
	background-color: #161610;
}

.c2 {
	background-color: #5b5b40;
}

.c3 {
	background-color: #9f9f70;
}

.c4 {
	background-color: #e4e4a1;
}

.c5 {
	background-color: #e9e9b3;
}

.c6 {
	background-color: #f1f1d0;
}

.c7 {
	background-color: #f9f9ec;
}

/*p.grid-blocks {
	padding: 20rem, 0;
}*/

#sitemap {
  /*align-items: center;*/
  justify-content: center;
}


@media (max-width: 30rem) {

/*	#page-title {
    	font-size: 20px;
    }*/

    .side-search{
      width: 100%;
      float: none;
      text-align: center;
      margin: 0;
      padding: 0;
      margin-top: 1rem;
    }

.sidebars {
  width: 100%;
  margin:0;
  padding: 0;
}
ul.sidebars li {
  float:none;
  margin: 0;
    padding: 0;

}

ul.sidebars li a{

text-align: center;
}

.nav-btn{
  margin: .2rem;
}

  nav.catalog button {
    float: none;
  }

	.box {
  	flex: 0 0 100%;
	}

  .BX {
    flex: 0 0 100%;
  }

	.grid-blocks {
    flex: 0 0 60%;
	}

  .subscribes-input {
    width: auto;
  }
}